/* styles.css */

#content-div{
    border: 1px solid #cccccc;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: rgb(230, 230, 230);

}
.option-button{
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.all_img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
}

.all_img img{
    width: 100%;
    height: 100%;
}
