    <div style="position: relative; height: 250px; width: 100%; background: url('../../../assets/about/img2.avif') no-repeat center; background-size: cover; ">
        <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; color: rgb(16, 164, 255); flex-direction: column; justify-content: center; align-items: center;">
            <h1 style="font-size: 400%; font-weight: bold; padding-right: 60%; text-shadow: 2px 2px 4px rgba(0,0,0,5);">ABOUT US</h1>
        </div>
    </div>

    <section class="explore">
        <div class="container">
            <div class="section-content">
            <div class="row">
            <div class="col">
                <div class="section-img">
                    <img src="../../../assets/about/explore.jpg" alt="">
                </div>
            </div>  
            <div class="col" style="text-align: center; padding-top: 10%; font-size: x-large;">
                <div class="section-text">
                    <h3 class="section-title" style="font-size: 150%; text-align: left; color: #058989;">A new way to explore the world </h3>
                    <p class="p-description" style="padding-top: 7%;">For decades travellers have reached for Lonely Planet books when looking to plan and execute their perfect
                        trip, but now, they can also let Lonely Planet Experiences lead the way</p>
                </div>
            </div>
            </div>
            </div>
        </div>
    </section>

    <section class="sectionAbout clearfix" style="background-color: rgb(230,230,230);">
        <div class="container mt-5">
            <h2 style=" font-family: 'Source Sans Pro', sans-serif; font-size:300%;" >Our base consist of:</h2>
            <div class="row" style="padding-left: 10%;">
                <div class="col-md-3 col-sm-12">
                    <div class="serviceBox">
                        <h3 class="title" style="color: rgb(16, 164, 255); font-size: 400%; padding-right: 25%;">700+</h3>
                        <p class="description" style="text-align: center; font-size: x-large; font-style: oblique;">
                            <img src="../../../assets/about/happy_customers.png" alt="" style="width: 90px; height: auto; object-fit: cover;"><br>
                            Happy Customers
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="serviceBox">
                        <h3 class="title" style="color: rgb(16, 164, 255); font-size: 400%; padding-right: 25%;">300+</h3>
                        <p class="description" style="text-align: center; font-size: x-large; font-style: oblique;">
                            <img src="../../../assets/about/amazing_tours.png" alt="" style="width: 90px; height: auto; object-fit: cover;"><br>
                            Amazing Tours
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="serviceBox">
                        <h3 class="title" style="color: rgb(16, 164, 255); font-size: 400%; padding-right: 35%;">8000+</h3>
                        <p class="description" style="text-align: center; font-size: x-large; font-style: oblique;">
                            <img src="../../../assets/about/business_partners.png" alt="" style="width: 90px; height: auto; object-fit: cover;"><br>
                           In Business
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="serviceBox">
                        <h3 class="title" style="color: rgb(16, 164, 255); font-size: 400%; padding-right: 45%;">21K</h3>
                        <p class="description" style="text-align: center; font-size: x-large; font-style: oblique;">
                            <img src="../../../assets/about/support_cases.png" alt="" style="width: 90px; height: auto; object-fit: cover;"><br>
                           Support Cases
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container-fluid">
        <div class="row">
            <h3 style="font-family: Arial; font-size: xx-large; color: #058989;">Why Choose Us</h3>
            <div class="col-md-5 col-sm-12">
                <div class="container">
                    <h5 style="padding-top: 8%; font-style: oblique;">"Discover tailored travel with expert planning, personalized service, and sustainable values."</h5>
                    
                    <div class="row">
                        <div class="col p-2" style="position: relative;">
                            <img src="../../../assets/about/personalised_service.jpg" alt="" class="img-fluid">
                            <div class="overlay-content" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #ffffff14;">
                                <p style="font-weight: bold; align-items: center; padding-left: 9%; padding-top: 55%; color: white; text-shadow: 2px 2px 4px rgba(0,0,0,5);">PERSONALISED SERVICE</p>
                            </div>
                        </div>
                        <div class="col p-2" style="position: relative;">
                            <img src="../../../assets/about/full_support.jpg" alt="" class="img-fluid">
                            <div class="overlay-content" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #ffffff14;">
                                <p style="font-weight: bold; align-items: center; padding-left: 20%; padding-top: 55%; color: white; text-shadow: 2px 2px 4px rgba(0,0,0,5);">24X7 SUPPORT</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col p-2" style="position: relative;">
                            <img src="../../../assets/about/best_price.jpg" alt="" class="img-fluid">
                            <div class="overlay-content" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #ffffff14;">
                                <p style="font-weight: bold; align-items: center; padding-left: 30%; padding-top: 55%; color: white; text-shadow: 2px 2px 4px rgba(0,0,0,5);">BEST PRICE</p>
                            </div>
                        </div>
                        <div class="col p-2" style="position: relative;">
                            <img src="../../../assets/about/trusted_cmpny.jpg" alt="" class="img-fluid">
                            <div class="overlay-content" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #ffffff14;">
                                <p style="font-weight: bold; align-items: center; padding-left: 10%; padding-top: 55%; color: white; text-shadow: 2px 2px 4px rgba(0,0,0,0.5);">TRUSTED COMPANY</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-7 col-sm-12" style="margin-top: -47px;" >
                <h3 style="text-align: right; font-family: Arial; font-size: xx-large; color: #058989;">Testimonials</h3>
                <h5 style="text-align: right; padding-top: 5%; font-style: oblique;">"Customers Rave About Us!" <br>
                    See Why Travelers Keep Choosing Us for Unforgettable Journeys!"</h5>
                    <img src="../../../assets/about/quote.png" alt="" style="width: 40px; height: auto; object-fit: cover;"><br>
                    <img src=".../../../assets/about/star.png"  alt="" style="width: 20px; height: auto; object-fit: cover;">
                    <img src="../../../assets/about/star.png" alt="" style="width: 20px; height: auto; object-fit: cover;">
                    <img src="../../../assets/about/star.png" alt="" style="width: 20px; height: auto; object-fit: cover;">
                    <img src="../../../assets/about/star.png" alt="" style="width: 20px; height: auto; object-fit: cover;">
                    <img src="../../../assets/about/star.png" alt="" style="width: 20px; height: auto; object-fit: cover;"><br>

                <div id="carouselExample" class="carousel slide" style="padding-top: 2%; font-size: large;">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" ></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner" >
                    <div class="carousel-item active">
                      <div class="panel panel-default">
                          <div class="panel-heading"><strong>Author:</strong> Tauseef Ahmed<span class="pull-right"> June 2023</span><br>
                          </div>
                          <div class="panel-body">I am writing to express my heartfelt appreciation for the exceptional service and assistance provided by your employee Marat Askarov during my recent experience in booking train travel to Uzbekistan different cities for me and my family members. <br>
                          The level of professionalism, efficiency, and customer care demonstrated by Marat truly made a positive impact on my travel arrangement. <br>
                          As a oversees client me and my family coming Uzbekistan as tourist on June 16 2023, I had several queries and concerns regarding train booking and overall travel process. However, Marat went above and beyond in addressing my inquiries and providing timely and accurate information. Their prompt responses, attention to detail, and willingness to assist throughout the booking process were truly commendable. <br>
                          </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="panel panel-default">
                          <div class="panel-heading"><strong>Author: </strong>Arthur Alder<span class="pull-right">May 2023</span><br>
                          </div>
                          <div class="panel-body">Firstly, I would like to say I am very happy with the services and tour which had been provided by Advantour. <br>
                          One point; Kyrgistan was for me after all too short, I would suggest an evening flight or a second night at the hotel. As well, I was with the breakfast in Sofia Int. (Bishkek) not so happy. They shall provide more fresh food/bread options. <br>
                          All guides and driver were reliable, helpful, knowledgeable and very kind! <br>
                          Big Plus with the hotels: <br>
                          - Mercure Almaty: excellent breakfast! <br>
                          - Mirhaba Bukhara: Beautiful rooms, a good breakfast and an excellent location. <br>
                          Turkmenistan, border entering &amp; exit was quite interesting, to be frankly. But it went well.</div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="panel panel-default">
                          <div class="panel-heading"><strong>Author: </strong>Luca Cortese<span class="pull-right"> May 2023</span><br>
                          </div>
                          <div class="panel-body">Thank you for the organization, Uzbekistan is a great place with amazing people, we really enjoy that! <br>
                          Everything was fine, Khurshid was very available and helped us many times, accommodations were what we were expecting. The whole group is happy. <br>
                          If I may, just a couple of points of improvement: <br>
                          - camel experience was good. <br>
                          - timing for the two days in the desert and on the mountains can be better managed: we saved half a day doing the trekking in the afternoon, and that’s the good equilibrium I guess. Maybe you can take this suggestion for your next trips. <br>
                          Again, we are satisfied with this trip and we thank you for your organization!</div>
                      </div>
                    </div>
                  </div>
                    <button class="carousel-control-prev"  type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>



    <div class="team-section" style="padding-top: 3%; background-color: rgb(230,230,230);">
        <h2 style="text-align: center;">Our Team</h2>
        <p>"Get to know the passionate travel experts behind your unforgettable journeys. With a blend of industry experience and a love for exploration, our team is dedicated to crafting personalized, sustainable travel experiences. Explore our profiles below and see the faces that make your adventures extraordinary!"</p>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img src="../../../assets/about/akku.jpg" class="card-img-top" alt="Akku">
                        <div class="card-body text-center">
                            <h3 class="card-title">Anagha Akku</h3>
                            <p class="card-text">Travel Agent</p>
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="../../../assets/about/faz.jpg" class="card-img-top" alt="Fazz">
                        <div class="card-body text-center">
                            <h3 class="card-title">Fasil Fazz</h3>
                            <p class="card-text">CEO</p>
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="../../../assets/about/anju.jpg" class="card-img-top" alt="Anju">
                        <div class="card-body text-center">
                            <h3 class="card-title">Anjali Anju</h3>
                            <p class="card-text">Travel Agent</p>
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img src="../../../assets/about/ramshu.jpg" class="card-img-top" alt="Ramshu">
                        <div class="card-body text-center">
                            <h3 class="card-title">Ramshad Ramshu</h3>
                            <p class="card-text">Travel Driver</p>
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page2">
        <h1> 25000 </h1>  
      
            <img alt="mondo" class="mondo" src="https://i.ibb.co/grLS2HM/Hot-Air-Balloon-960x1153.png">
          
          <div class="sinistra"> <h2>Travelers booked lovely trips</h2>
            <p>Well prepared means well traveled. Your journey starts much before you take your bag and set off. We help to find the ticket and accomodation you need, offer the routes, car, rentals and even book a taxi. Just choose the destination - we will do the rest.<p>
            <div class="button">
                <input type="button" class="bottone" value="READ MORE  →" />
            </div>   
          </div>
    </div>


    <div id="page3">
        <h2 class="intro">Introducing new features and offers</h2> 
    
        <div class="slider-containers">
            <div class="menu">
            </div>
            <input id="slides-dot-1" type="radio" name="slidess" checked>
            <div class="slides slides-1"><div class="top-left">
                TRAVELER BONUS <p class =tl> Big networks of patners allows us to offer you the extra bonuses and services at your destinations. Free museums and excursions, gyms, brekfasts, parties, gifts, discounts for families and much more. Check and choose.</p>
                
            <div class="button">
                <input type="button" class="bottone1" value="ALL BONUSES  →" /></div> </div>
            
            </div>
        </div>
    </div>

    <div class="team-section" style="padding-top: 3%;">
        <h2 style="text-align: center;">Our Partners</h2>
        <p>"Explore our esteemed network of travel and tourism partners, meticulously chosen to deliver unparalleled experiences and seamless adventures across the globe. From luxury accommodations to sustainable initiatives, our collaborations promise unforgettable journeys tailored to your every desire."</p>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="card">
                        <img src="../../../assets/about/p1.jpg" class="card-img-top" alt="Eachann Mack">
                        <div class="card-body text-center">
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img src="../../../assets/about/p2.jpg" class="card-img-top" alt="Mikal Clark">
                        <div class="card-body text-center">
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img src="../../../assets/about/p3.jpg" class="card-img-top" alt="Jhon Jha">
                        <div class="card-body text-center">
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img src="../../../assets/about/p4.jpg" class="card-img-top" alt="Eachann Jhon">
                        <div class="card-body text-center">
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img src="../../../assets/about/p5.jpg" class="card-img-top" alt="Eachann Mack">
                        <div class="card-body text-center">
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card">
                        <img src="../../../assets/about/p6.jpg" class="card-img-top" alt="Mikal Clark">
                        <div class="card-body text-center">
                            <div class="social-icons">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



