<div class="carousel" id="carouselExample">
    <div class="carousel-item active" style="background-image: url('../assets/home/bg1.jpg');">
        <div class="overlay">
            <h1 style="font-size: 400%;">Let's Discover the <br><span style="color: rgb(16, 164, 255);">World</span> Together</h1>
            <p>
                <i class="fa-solid fa-location-dot"></i>  More than 13,000 places.<br>
                <i class="fa-solid fa-circle-dollar-to-slot"></i>  Best price guaranteed.<br>
                <i class="fa-solid fa-comments"></i>  Customer Care.<br><br>
                <button type="button" class="btn btn-primary">Find out more</button>
            </p>
        </div>
    </div>
    <div class="carousel-item" style="background-image: url('../assets/home/bg9.jpeg');">
        <div class="overlay">
            <h1 style="font-size: 400%;">Upto <span style="color: rgb(16, 164, 255);">25% off</span><br> on your first booking.</h1>
            <p>
                <i class="fa-solid fa-laptop"></i>  Easy bookings.<br>
                <i class="fa-solid fa-car"></i>  Home pickups.<br>
                <i class="fa-solid fa-headphones"></i>  24*7 Customer Support. <br><br>
                <button type="button" class="btn btn-primary">Find out more</button>
            </p>
        </div>
    </div>
    <div class="carousel-item" style="background-image: url('../assets/home/bg10.jpeg');">
        <div class="overlay">
            <h1 style="font-size: 400%;">Upto <span style="color: rgb(16, 164, 255);">25% off</span><br> on your first booking.</h1>
            <p>
                <i class="fa-solid fa-laptop"></i>  Easy bookings.<br>
                <i class="fa-solid fa-car"></i>  Home pickups.<br>
                <i class="fa-solid fa-headphones"></i>  24*7 Customer Support. <br><br>
                <button type="button" class="btn btn-primary">Find out more</button>
            </p>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="false"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div style="padding-left: 40%; background-color:rgb(230, 230, 230)" >
    <button class="option-button btn btn-dark" data-content="form1">Hotel</button>
    <button class="option-button btn btn-dark" data-content="form2">Flight</button>
    <button class="option-button btn btn-dark" data-content="form3">Cars</button>
</div>
<div class="row">
    <div id="content-div">Quick check your availability now..!</div>
</div> 
<div class="containers">
    <div class="image">
        <img src="../assets/home/abt.jpeg" alt="About Us Image">
    </div>
    <div class="about-us">
        <h1>About Us</h1>
        <p>Welcome to our tourism company! We are dedicated to providing exceptional travel experiences that create lasting memories. With years of experience in the travel industry, we are your trusted partner in exploring the world's most beautiful destinations.</p>
        <p>Founded in 2010, our company has grown from a small travel agency into a leading provider of customized travel packages. Our team of passionate travel experts works tirelessly to curate unique and personalized itineraries that cater to your specific needs and preferences.</p>
        <p>Our core values are:</p>
        <div class="feature-list">
            <ul>
                <li>Personalized Service</li>
                <li>24x7 Support</li>
            </ul>
            <ul>
                <li>Best Price</li>
                <li>Trusted Company</li>
            </ul>
        </div>
        <button class="btn btn-outline-primary">Learn more</button>
    </div>
</div>
<div class="row" style="background-color:rgb(230, 230, 230)">
    <div class="col-md-9" style="margin-left: 15px;">
        <h1><strong>Our Services</strong></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus accusantium voluptates fuga at, voluptatum, vel tenetur iusto dolorem ratione est soluta odio itaque fugiat similique non pariatur veritatis in hic.</p>
    </div>
    <div class="col" style="margin-left: 15px; margin-top:30px;">
        <button class="btn btn-dark">View All</button>
    </div>
</div>

<div class="row" style="background-color:rgb(230, 230, 230)">
    <div class="col" style="margin-left: 10px; margin-bottom:20px;">
        <div class="card" style="width: 18rem;">
            <img src="../assets/home/htl.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Book Hotel</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-dark">See All</a>
            </div>
        </div>
    </div>
    <div class="col" style=" margin-bottom:20px;">
        <div class="card" style="width: 18rem;">
            <img src="../assets/home/flt.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Book Flight</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-dark">See All</a>
            </div>
        </div>
    </div>
    <div class="col" style=" margin-bottom:20px;">
        <div class="card" style="width: 18rem;">
            <img src="../assets/home/crs.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Book Cruise</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-dark">See All</a>
            </div>
        </div>
    </div>
    <div class="col" style=" margin-bottom:20px;">
        <div class="card" style="width: 18rem;">
            <img src="../assets/home/cars.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hire Cars</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-dark">See All</a>
            </div>
        </div>
    </div>
</div>
<br><br>
<app-carousel></app-carousel>
<br>
