<div class="container-fluid">
    <div class="row">
        <h3 style="font-family: Arial; font-size: xx-large; color: #058989;">Why Choose Us</h3>
        <div class="col-md-5 col-sm-12">
            <div class="container">
                <h5 style="padding-top: 8%; font-style: oblique;">"Discover tailored travel with expert planning, personalized service, and sustainable values."</h5>               
                <div class="row">
                    <div class="col p-2" style="position: relative;">
                        <img src="../assets/home/personalised_service.jpeg" alt="" class="img-fluid">
                        <div class="overlay-content" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #ffffff14;">
                            <p style="font-weight: bold; align-items: center; padding-left: 9%; padding-top: 55%; color: white; text-shadow: 2px 2px 4px rgba(0,0,0,5);">PERSONALISED SERVICE</p>
                        </div>
                    </div>
                    <div class="col p-2" style="position: relative;">
                        <img src="../assets/home/full_support.jpeg" alt="" class="img-fluid">
                        <div class="overlay-content" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #ffffff14;">
                            <p style="font-weight: bold; align-items: center; padding-left: 20%; padding-top: 55%; color: white; text-shadow: 2px 2px 4px rgba(0,0,0,5);">24X7 SUPPORT</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-2" style="position: relative;">
                        <img src="../assets/home/best_price.jpeg" alt="" class="img-fluid">
                        <div class="overlay-content" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #ffffff14;">
                            <p style="font-weight: bold; align-items: center; padding-left: 30%; padding-top: 55%; color: white; text-shadow: 2px 2px 4px rgba(0,0,0,5);">BEST PRICE</p>
                        </div>
                    </div>
                    <div class="col p-2" style="position: relative;">
                        <img src="../assets/home/trusted_company.jpeg" alt="" class="img-fluid">
                        <div class="overlay-content" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #ffffff14;">
                            <p style="font-weight: bold; align-items: center; padding-left: 10%; padding-top: 55%; color: white; text-shadow: 2px 2px 4px rgba(0,0,0,0.5);">TRUSTED COMPANY</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
        <div class="col-md-7 col-sm-12" style="margin-top: -47px;" >
            <h3 style="text-align: right; font-family: Arial; font-size: xx-large; color: #058989;">Testimonials</h3>
            <h5 style="text-align: right; padding-top: 5%; font-style: oblique;">"Customers Rave About Us!" <br>
                See Why Travelers Keep Choosing Us for Unforgettable Journeys!"</h5>
                <img src="../assets/home/quote.jpeg" alt="" style="width: 40px; height: auto; object-fit: cover;"><br>
                <div class="panel-heading"><strong>Author:</strong> Tauseef Ahmed<span class="pull-right"> June 2023</span>
                <div style="color: rgb(215, 181, 10);">&#9733; &#9733; &#9733; &#9733; &#9733;</div>
                <div style="font-size: medium;">I would like to say I am very happy with the services and tour which had been provided by Advantour.</div><br>
                <div class="panel-heading"><strong>Author: </strong>Luca Cortese<span class="pull-right"> May 2023</span><br>                    <div style="color: rgb(215, 181, 10);">&#9733; &#9733; &#9733; &#9733; &#9733;</div>
                <div style="font-size: medium;">Thank you for the organization, Uzbekistan is a great place with amazing people, we really enjoy that!</div><br>
                <div class="panel-heading"><strong>Author:</strong> Perara Williom<span class="pull-right"> April 2023</span>
                <div style="color: rgb(215, 181, 10);">&#9733; &#9733; &#9733; &#9733; &#9733;</div>
                <div style="font-size: medium;">Extremely pleased with Advantour's exceptional services and tour in Uzbekistan. A truly memorable experience!</div><br>
                <div class="panel-heading"><strong>Author:</strong> John Wan<span class="pull-right"> March 2023</span>
                <div style="color: rgb(215, 181, 10);">&#9733; &#9733; &#9733; &#9733; &#9733;</div>
                <div style="font-size: medium;">Thrilled with Advantour's impeccable service and unforgettable tour experience in my life!</div><br>      
    </div>
</div>