<div style="position: relative; height: 250px; width: 100%; background: url('../../../assets/faq/img2.avif') no-repeat center; background-size: cover; ">
    <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; color: rgb(16, 164, 255); flex-direction: column; justify-content: center; align-items: center;">
        <h1 style="font-size: 400%; font-weight: bold; padding-right: 60%; text-shadow: 2px 2px 4px rgba(0,0,0,5);">FAQ</h1>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="row" style="background-color: white; padding: 20px; border: 2px solid #007bff;">
                <h4>Search</h4>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
                    <button class="btn btn-primary" type="button" id="button-addon2" >Search</button>
                </div>
            </div>
            <div class="row" style="padding-top: 4.5%;">
                <div class="card" style="background-color: white; padding: 20px; border: 2px solid #007bff;">
                    <div class="card-body">
                        <h5 class="card-title">Need Help...?</h5>
                        <p class="card-text">If you have any questions or need assistance, feel free to contact our customer support team. We're here to help!</p>
                        <a href="#" class="btn btn-primary">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
                <div class="accordion accordion-flush" id="accordionFlushExample" style="border: 2px solid #007bff; border-radius: 10px; overflow: hidden;">
                    <div class="accordion-item">
                        <h2 class="accordion-header" style="margin-bottom: 0; ">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color: #f8f9fa;  border: none; border-radius: 0; font-weight: bold; text-align: left;">
                                What destinations do you offer tours to?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="background-color: white; padding: 20px; border-top: 2px solid #007bff; border-bottom: 2px solid #007bff;">
                                We offer tours to a wide range of destinations worldwide, including popular tourist spots, hidden gems, and off-the-beaten-path locations. Whether you're interested in exploring cultural landmarks, natural wonders, or vibrant cities, we have tours tailored to suit your preferences.                                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" style="margin-bottom: 0;">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="background-color: #f8f9fa;  border: none; border-radius: 0; font-weight: bold; text-align: left;">
                                Are your tours suitable for solo travelers?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="background-color: white; padding: 20px; border-top: 2px solid #007bff; border-bottom: 2px solid #007bff;">
                                Absolutely! Many of our tours are designed with solo travelers in mind. We offer group tours where you can meet like-minded travelers from around the world, as well as customizable private tours for those seeking a more personalized experience. Our knowledgeable guides ensure that solo travelers feel safe, welcome, and well taken care of throughout their journey.                                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" style="margin-bottom: 0;">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" style="background-color: #f8f9fa;  border: none; border-radius: 0; font-weight: bold; text-align: left;">
                                What safety measures do you have in place during tours?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="background-color: white; padding: 20px; border-top: 2px solid #007bff; border-bottom: 2px solid #007bff;">
                                Your safety and well-being are our top priorities. We adhere to strict safety protocols and guidelines set by local authorities and health organizations. Our experienced guides are trained to handle emergencies and ensure that all participants follow safety procedures. Additionally, we provide necessary safety equipment and maintain high standards of hygiene and sanitation on our tours.                                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" style="margin-bottom: 0;">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" style="background-color: #f8f9fa;  border: none; border-radius: 0; font-weight: bold; text-align: left;">
                                Can I customize my tour itinerary?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="background-color: white; padding: 20px; border-top: 2px solid #007bff; border-bottom: 2px solid #007bff;">
                                Yes, absolutely! We understand that every traveler has unique preferences and interests. That's why we offer customizable tour packages that allow you to tailor your itinerary according to your specific needs and desires. Whether you want to add extra activities, extend your stay, or explore off-the-beaten-path locations, our team will work with you to create the perfect itinerary.                                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" style="margin-bottom: 0;">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive" style="background-color: #f8f9fa;  border: none; border-radius: 0; font-weight: bold; text-align: left;">
                                What is your cancellation policy?
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="background-color: white; padding: 20px; border-top: 2px solid #007bff; border-bottom: 2px solid #007bff;">
                                Our cancellation policy varies depending on the tour package and booking terms. We strive to offer flexible cancellation options to accommodate unforeseen circumstances. We recommend reviewing the specific cancellation policy outlined in your booking confirmation or contacting our customer service team for assistance.                                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" style="margin-bottom: 0;">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix" style="background-color: #f8f9fa;  border: none; border-radius: 0; font-weight: bold; text-align: left;">
                                Do you offer travel insurance?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="background-color: white; padding: 20px; border-top: 2px solid #007bff; border-bottom: 2px solid #007bff;">
                                Yes, we offer comprehensive travel insurance options to provide you with peace of mind during your journey. Our travel insurance coverage includes benefits such as trip cancellation/interruption, medical expenses, emergency evacuation, and baggage protection. We highly recommend purchasing travel insurance to safeguard your investment and protect against unexpected events.                                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" style="margin-bottom: 0;">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven" style="background-color: #f8f9fa;  border: none; border-radius: 0; font-weight: bold; text-align: left;">
                                How can I contact customer support during my tour?                                </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body" style="background-color: white; padding: 20px; border-top: 2px solid #007bff; border-bottom: 2px solid #007bff;">
                                Our customer support team is available 24/7 to assist you during your tour. You can reach us via phone, email, or live chat for any inquiries, emergencies, or assistance you may need. Our dedicated team is committed to ensuring that your travel experience is smooth, enjoyable, and hassle-free from start to finish.                                
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>